*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.page {}

.content {}

.result {}

.result__video-container {}

.result__video {}

.search-form {}

.search-form__fieldset {}

.search-form__fieldset-title {}

.search-form__label {}

.search-form__label-text {}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
} /*проверить и исправить, если нужно:)*/


.search-form__textfield {}

.search-form__fieldset {}

.search-form__fieldset-title {}

.search-form__checkbox-list {}

.search-form__checkbox {}

.search-form__pseudo-checkbox {}

.button {
  background-color: transparent;
  color: #FFF;
  border: 1px solid #FFF;
  padding: 6px 73.5px;
  font-size: 18px;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Fira Sans Condensed', sans-serif;
}


.search-form__submit-button {}

.content__details {}

.title {}

.content__accent {}

.content__list {}

.preloader-template {}

.preloader {}

.preloader-chasing-squares {}

.square {}

.cards-list-item-template {}

.content__list-item {}

.content__card-link {}

.content__video-card {}

.content__video-card-description-container {}

.content__video-card-title {}

.content__video-card-description {}

.content__video-card-thumbnail {}

.more-button-template {}

.more-button {}

.error-template {}

.error {}

.error__title {}