*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  align-items: center; /* проверить св-во,чтобы правильно все расположить*/
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex; /* flex или grid ?*/
  margin: 133px 30px 133px 30px;
  width: 1140px;
  height: 534px; /* нужны ли width и height?*/
  inline-size: 100%; /* или прописать inline-size: 100%; ?*/
 /* background-color: grey; УБРАТЬ:) */ 
  gap: 30px;
}

.result {
  align-self: flex-end;
  padding: 78px 30px 0 0;
} /* СМОТРЕТЬ*/ /*НАДО или убрать padding: 78px 30px 0 0; ?*/

.result__video-container {
  inline-size: 711px;
  position: relative;
  margin: 0 0 16px 0; /* проверить данные */
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
} /* СМОТРЕТЬ*/

.search-form {
  display: flex;
  align-items: center;
  gap: 40px; /* сколько px нужно? */
}

.search-form__fieldset {
  gap: 5px;
  display: flex;
  flex-direction: column;
  border: none;
  inline-size: 100%;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  line-height: 21.6px;
  font-weight: 400px;
  color: #FFF;
  width: 212px;
}

.search-form__label {
  width: fit-content;
  cursor: pointer;
  gap: 5px;
}

.search-form__label:has(:focus-visible) {
  border: 1px solid white;
}

.search-form__label-text {
  font-size: 18px;
  font-weight: normal;
  line-height: 21.6px;
  font-family: 'Fira Sans Condensed', sans-serif;
  color: #FFF;
  gap: 5px; /* нужен ли gap? он есть в figma*/
}

.search-form__label-text:hover {
  text-decoration: underline;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  inline-size: 1px;
  block-size: 1px;
}


.search-form__textfield {
  appearance: none;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  line-height: 21.6px;
  color: rgb(255 255 255 / 0.7); /* 70% */
  background-color: transparent;
  border-width: 1px 0;
  border-style: solid;
  border-color: #FFF;
  inline-size: 225px;
  gap: 10px; /* нужен ли gap? он есть в figma*/
}

.search-form__fieldset {}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  line-height: 21.6px;
  color: #FFF;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__checkbox:checked {
  display: block;
  inline-size: 19px;
  block-size: 19px;
  background-color: #FFF;
}

.search-form__pseudo-checkbox {
  inline-size: 19px;
  block-size: 19px;
  background-color: #FFF;
} /* проверить, что нужно в данный класс:) */

.search-form__pseudo-checkbox::before {
  border: 1px solid #FFF;
  inline-size: 19px;
  block-size: 19px;
} /* проверить, как сделать квадратики около "утро, день...":) */

.button {
  background-color: transparent;
  color: #FFF;
  border: 1px solid #FFF;
  padding: 6px 73.5px;
  font-size: 18px;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:active {
  background-color: rgb(15, 14, 14);
}

.button:focus-visible {
  outline: 2px solid #000;
  outline-offset: 0;
}

.search-form__submit-button {
  padding: 6px 73.5px 6px 73.5px;
}

.content__details {}

.title {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight: 700px;
  line-height: 70.5px;
}

.content__accent {
  color: #545050;
}

.content__list {
  scrollbar-width: none;
  overflow-y: scroll;
  block-size: 298px;
  position: relative;
}

.preloader-template {}

.preloader {}

.preloader-chasing-squares {}

.square {}

.cards-list-item-template {}

.content__list-item:not(:last-child) {
  margin-top: 30px;
} /* проверить))) по заданию: создать вертикальные отступы между элементами у всех, кроме последнего*/

.content__card-link {
  margin: 2px; /* margin или padding ?*/
  width: 394px;
  height: 107px; /* прописать  по размерам, пока что криво вглядит:)*/
  text-decoration: none;
  color: #FFF;
  display: block;
} /* нужно ли остальное (кроме, text-decoration: none; и color: #FFF;) */

.content__card-link_current {
  background-color:rgb(111, 105, 105);
}
/* проверить в JS. Как выделить активный элемент? */

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-description-container {
  flex-grow: 1;
  text-overflow: ellipsis;
} /* какое из свойств подойдет?.. */

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  padding: 2px 0 6px 2px;
  color: #FFF;
}

.content__video-card-description {
  color: #FFF;
  line-height: 16.2px;
  font-size: 18px;
  font-family: 'Fira Sans Condensed', sans-serif;
  padding: 6px 0 4px 2px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
}

.more-button-template {}

.more-button {  
  background-color: transparent;
  inline-size: 100%;
} /* нужно ли? :)*/

.error-template {}

.error {}

.error__title {}