*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  align-items: center; /* проверить св-во,чтобы правильно все расположить*/
  justify-content: center; /* проверить св-во,чтобы правильно все расположить*/
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  justify-content: center; /* проверить */
  align-items: end; /* проверить */
  margin: 0 30px 0 30px;
 /* width: 1140px; */
 /* height: 534px;  нужны ли width и height?*/
 /* inline-size: 100%;  или прописать inline-size: 100%; ?*/
 /* background-color: grey; УБРАТЬ:) */ 
  gap: 30px;
}

.result {
  align-self: flex-end;
} /* проверить */

.result__video-container {
  inline-size: 711px;
  position: relative;
  margin: 0 0 16px 0;
  block-size: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center; /* посмотреть */
 /* gap: 40px;  нужен ли gap? */
}

.search-form__fieldset {
  gap: 5px;
  display: flex;
  flex-direction: column;
  border: none;
  inline-size: 100%;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  line-height: 21.6px;
  font-weight: 400px;
  color: #FFF;
}

.search-form__label {
  width: fit-content;
  cursor: pointer;
  gap: 5px;
  display: flex;
}

.search-form__label:has(:focus-visible) {
  border: 1px solid white;
  padding: 1px;
}

.search-form__label-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  font-family: 'Fira Sans Condensed', sans-serif;
  color: #FFF;
  cursor: pointer;
}

.search-form__label-text:hover {
  text-decoration: underline;
} /* ДОДЕЛАТЬ!!! */

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  inline-size: 1px;
  block-size: 1px;
}

.search-form__textfield {
  appearance: none;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  color: rgb(255 255 255 / 0.7); /* 70% */
  background-color: transparent;
  border-width: 1px 0;
  border-style: solid;
  border-color: #FFF;
  inline-size: 225px;
  gap: 10px; /* нужен ли gap? он есть в figma*/
}

.search-form__textfield:active {
  border: 1px solid white;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  line-height: 21.6px;
  color: #FFF;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before{
  display: block;
  content: '';
  inline-size: 15px;
  block-size: 15px;
  background-color: #FFF;
  margin: 1px 0 0 1.5px;
}

.search-form__pseudo-checkbox {
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid white;
}

.button {
  background-color: transparent;
  color: #FFF;
  border: 1px solid #FFF;
  padding: 6px 73.5px;
  font-size: 18px;
  align-items: center;
  font-weight: 700;
  cursor: pointer;
  font-family: 'Fira Sans Condensed', sans-serif;
} /* нужны ли padding, align-items? */ /* добавить ли height? */

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:active {
  background-color: #545050;
}

.button:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 0;
}

.search-form__submit-button {
  padding: 6px 73.5px 6px 73.5px;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  inline-size: 400px;
  block-size: 100%;
} /* grid или flex ?:)*/ /* нужны ли  inline-size: 400px; block-size: 100%; ? */

.title {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight: 700px;
  line-height: 70.5px;
}

.content__accent {
  color: #545050;
}

.content__list {
  display: flex;
  flex-direction: column;
  scrollbar-width: none;
  overflow-y: scroll;
  block-size: 298px;
  position: relative;
  gap: 30px;
} /* добавила flex :) */

/*.content__list-item:not(:last-child) {
  margin-top: 30px;
}  ПРОВЕРИТЬ))) по заданию: создать вертикальные отступы между элементами у всех, кроме последнего*/

.content__card-link {
  margin: 2px;
  text-decoration: none;
  color: #FFF;
  display: block;
}

.content__card-link_current {
  background-color:#545050;
}

.content__video-card {
  padding: 2px;
  display: flex;
  justify-content: space-between;
}

.content__video-card-description-container {
  gap: 6px;
  display: flex;
  flex-direction: column;
}

.content__video-card-description-container:hover {
  text-decoration: underline;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  padding: 2px 0 6px 2px;
  color: #FFF;
}

.content__video-card-description {
  color: #FFF;
  line-height: 16.2px;
  font-size: 18px;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
}

.more-button {
  padding: 6px 0 6px 0;
  background-color: transparent;
  inline-size: 100%;
}